
.main-padding-tb-mini {
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;

}

.main-padding-tb-massive {
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}

.main-margin-tb-mini {
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
}

.main-margin-tb-massive {
    margin-top: 5em !important;
    margin-bottom: 5em !important;
}

.main-margin-massive {
    margin: 2em 5em !important;
}

.main-black {
    color: #333;
}


/* ----Text---- */

.main-text-thin {
    font-weight: 300 !important;
}

.main-text-space {
    letter-spacing: 1px !important
}

.main-opacity-mini {
    opacity: 0.6 !important
}

/* ----Display---- */
.main-inline-block {
    display: inline-block !important;
}

/* ----Position---- */
.main-top-right {
    position: absolute;
    top:0;
    right: 0;
}

.main-mobile-show {
    display: none !important
}

@media screen and (max-width: 768px){
    .main-mobile-hide {
        display: none !important
    }
    .main-mobile-show {
        display: block !important
    }
}



}